# Lists 
*Ordered sequence that can hold different tyes of data types.<br>
*Represented by [] and use , to separate the various items in the list.<br>
*Lists can be nested and indexing, slicing can be performed in the list.<br>
*Lists are mutable

In [1]:
my_list= [1, 2, 3, 'car', 2.0, 'Hyundai']

In [2]:
#Checking no. of items in a list
len(my_list)

6

In [3]:
#Indexing and slicing in the list
#syntax= list_name[start,stop,step]

my_list[0]

1

In [4]:
#slicing
list1= my_list[0:3]
list1

[1, 2, 3]

In [5]:
#with step size
list2= my_list[2:6:2]
list2

[3, 2.0]

In [6]:
#concatenating two lists
list3 = list1 + list2
list3

[1, 2, 3, 3, 2.0]

In [7]:
#mutability
list3[0]= 'ONE'
list3

['ONE', 2, 3, 3, 2.0]

# Methods in lists

In [8]:
#Append : adding an element at the end of the list
list3.append("LAST")
list3

['ONE', 2, 3, 3, 2.0, 'LAST']

In [9]:
#pop : pop off n item from the end of the list
list3.pop()
list3

['ONE', 2, 3, 3, 2.0]

In [10]:
#popping from an index position
list3.pop(0)
list3

[2, 3, 3, 2.0]

In [11]:
#Sort: It is sorting new list in place, it does not return anything but sorts the list.
newlist= ['a','d','b','c']
numberlist= [3,2,4,5,1]
newlist.sort()
numberlist.sort()

In [12]:
newlist

['a', 'b', 'c', 'd']

In [13]:
numberlist

[1, 2, 3, 4, 5]

In [14]:
#reverse: Reverses the list
numberlist.reverse()

In [15]:
numberlist

[5, 4, 3, 2, 1]

# Dictionaries 
*unordered mapping for storing objects.<br>
*It stores objects in key value pairs <br>
*need to remeber key instead of index location for calling objects.<br>
*It uses {} braces to store key value pairs separated by commas. <b>syntax</b>= {'key1' : 'value1', 'key2' : 'value2'}

In [29]:
dictionary= {'First_name':"Nitin", 'Last_name':"Aggrawal", "Address": 3289}

In [30]:
dictionary

{'First_name': 'Nitin', 'Last_name': 'Aggrawal', 'Address': 3289}

In [31]:
#Grab values from dictionary
dictionary['First_name']

'Nitin'

In [32]:
dictionary['Address']

3289

In [33]:
#Adding new key value pair in dictonary
dictionary['City']= 'Chandigarh'
dictionary

{'First_name': 'Nitin',
 'Last_name': 'Aggrawal',
 'Address': 3289,
 'City': 'Chandigarh'}

In [35]:
#Overwrite a value in a key
dictionary['Last_name']= 'Aggarwal'
dictionary

{'First_name': 'Nitin',
 'Last_name': 'Aggarwal',
 'Address': 3289,
 'City': 'Chandigarh'}

In [37]:
#Seeing all the keys of dictionary
dictionary.keys()

dict_keys(['First_name', 'Last_name', 'Address', 'City'])

In [38]:
#Seeing all the values of dictionary
dictionary.values()

dict_values(['Nitin', 'Aggarwal', 3289, 'Chandigarh'])

In [39]:
#Seeing all the items of dictionary
dictionary.items()

dict_items([('First_name', 'Nitin'), ('Last_name', 'Aggarwal'), ('Address', 3289), ('City', 'Chandigarh')])

# Tuples
*Same as list but tuples are immutable unlike lists.<br>
*You can not reassign an element in the tuple.<br>
*Tuples uses () parenthesis.

In [42]:
tuple1=(1,2,3,'Aggarwal')

In [43]:
len(tuple1)

4

In [47]:
#Indexing in tuple
tuple1[2]

3

In [54]:
#reverse indexing in tuple
tuple1[-1]

'Aggarwal'

In [55]:
#Slicing in tuple
tuple1[1:4:2]

(2, 'Aggarwal')

In [52]:
#Finding index of an element in the tuple
tuple1.index('Aggarwal')

3

# Sets
*unordered collection of unique elements.

In [64]:
myset = set()
myset.add(1)
myset

{1}

In [66]:
#Sets contain only unique values
mylist=[1,2,3,1,2,3,1,2,3]
set(mylist)

{1, 2, 3}